<h2>Attendee List</h2>
<h3>Event Name: <%= @event.name %></h3>


<table class="table">

    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Event ID </th>
    </tr>

    <% @attendees.each do |a|  %>
        <tr>
            <td> <%= a.id %> </td>
            <td> <%= a.name %> </td>
            <td> <%= a.event_id %> </td>
            <td> <%= link_to "Show", event_attendee_path(@event, a), :class => "btn btn-primary" %></td>
            <td> <%= link_to "Index", event_attendees_path(@event, a), :class => "btn btn-primary" %></td>
        </tr>
    <% end %>
</table>

<%= link_to "New attendee", new_event_attendee_path( @event ) %>